#best_before_warning {
    position: sticky;
    width:100%;
    top:0;
    padding: 2.5rem;
    color: white;
    background-color: #D46a6a;
    text-align: center;
    font-size: 2rem;
    z-index: 90000;
    cursor: default;
}

#best_before_warning:hover {
    opacity: 0.8;
    transition: 0.3s;
    }

#best_before_warning:not(hover) {
    opacity: 1;
    transition: 0.25s;
}

.best_before_hidden {
    transform: translate(-100%);
    transition: 0.4s;
}